<section class="content">
<div class="container-fluid">
  <h2 class="text-center display-4">Enhanced Search</h2>

  <div class="col-md-10 offset-md-1">

  <div class="row">
    <div class="col-lg-12">

      <form>
       <!--
         <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <!--
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>

        -->
        <div class="form-group">
          <div class="input-group input-group-lg">
            <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" value="Site">
            <div class="input-group-append">
              <button type="submit" class="btn btn-lg btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

      </form>




    </div>
  </div>
  </div>
</div>
</section>
